
{{#if is_admin}}


{{classId}}
{{#each classrooms}}



<h1>Modifying enrollment for the following{{this.name}} </h1> </p>
<p> Instructor: {{this.moderators.first_name}}  {{this.moderators.last_name}}</p>



  <table class="table-border">
The following students are enrolled:
  <thead>
  <tr>
    <th>Firstname </th>
    <th>Lastname </th>
    <th>Email </th>
    <th>Delete</th>
  </tr>
</thead>
    <tr>
  {{#each this.students}}
  <tr>
  <td>{{this.first_name}}</td>

   <td>{{this.last_name}}</td>
   <td>{{this.email}}</td>
   <td><a href="/modify/delete?id={{../../classId}}&username={{this.username}}">Click to delete</a></td>
 </tr>
   {{/each}}
 </table>

{{/each}}
</p>
{{#if allow_enroll}}
<div class="alert alert-warning"><a href="/classroom/enroll?class={{classId}}" id ="enrollBtn" enrollId="{{classId}}" class="">You are currently not enrolled in this class
you can request enrollment by clicking here</a></div>
</p>{{/if}}
{{else}}
<a href="/">You are not logged in!</a>
{{/if}}
