<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{{title}}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/bootstrap/css/simple-sidebar.css" rel="stylesheet">
    <script href="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script href="/jquery-ui/jquery-ui.min.js" type="text/javascript" ></script>
    <script href="/jquery/jquery.slim.min.js" type="text/javascript" ></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                      {{{title}}}
                    </a>
                </li>
                {{#if user}}
                <li>
                    <a href="/">Home</a>
                </li>
                {{/if}}

                {{#if user}}
                <li>
                    <a href="/assignment/viewall?id={{classId}}">Assignments</a>
                </li>
                {{/if}}

                {{#if user}}
                <li>
                    <a href="/assignment/grades">Grades</a>
                </li>
                {{/if}}

                {{#if user}}
                <li>
                    <a href="/resources/view?classId={{classId}}">Resources</a>
                </li>
                {{/if}}



                {{#if user}}
                <li>
                    <a href="/display/my_classes">My Classes</a>
                </li>
                {{/if}}


                <li>
                    {{#if user}}<a href="/logout">Logout</a>{{else}}<a href="/login">Log in </a> {{/if}}
                </li>
                {{#if user}}
                {{else}}
                <li>
                    <a href="/register">Register</a>
                </li>
                {{/if}}

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      {{{body}}}
                      <!--  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <!-- <script src="/bootstrap/js/jquery.js"></script>


    <script src="/bootstrap/js/bootstrap.min.js"></script>


    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> -->

</body>

</html>
