<h1>{{title}}</h1>
<p>Welcome to creating a classroom {{#if user}}, <b>{{user.username}}</b>  {{/if}}</p>
<h3>{{#if user}}{{else}}<a href="/login">Log in </a> | <a href="/register">Register </a>{{/if}}</h3>
{{#if error}} <div class="alert alert-danger">{{err.name}} : {{err.message}}</div>{{/if}}

{{#if user}}

<form action="/classroom/create" method="POST" >
  <p>

    <label name="label">Classroom Name: </label>
<input type="text" id="classroom_name" name="classroom_name"  class="form-control form-control-sm" placeholder="classroom name">


<label name="label">Classroom Description: </label>
    <textarea type="text" id="classroom_description" name="classroom_description" class="f form-control form-control-lg" placeholder="enter description"></textarea>
  <button type="submit" class="btn btnPrimary">Create new class</button>
</form>
</div>
{{/if}}
