
{{#if user}}



{{#each classrooms}}
<h1>Welcome to {{this.name}} </h1> </p>
<p> Instructor: {{this.moderators.first_name}}  {{this.moderators.last_name}}</p>




<div><strong>{{this.description}}</strong></div>


  <table class="table table-border">
The following students are enrolled:
  <thead>
  <tr>
    <th>Firstname </th>
    <th>Lastname </th>
    <th>Email </th>
  </tr>
</thead>
    <tr>
  {{#each this.students}}
  <tr>
  <td>{{this.first_name}}</td>

   <td>{{this.last_name}}</td>
   <td>{{this.email}}</td>
 </tr>
   {{/each}}
 </table>

{{/each}}
</p>
{{#if allow_enroll}}
<div class="alert alert-warning"><a href="/classroom/enroll?class={{classId}}" id ="enrollBtn" enrollId="{{classId}}" class="">You are currently not enrolled in this class
you can request enrollment by clicking here</a></div>
</p>{{/if}}
{{else}}
<a href="/">You are not logged in!</a>
{{/if}}



{{#if is_admin}}
<strong><a href="/assignment/create?id={{classId}}">Create a new assignment</a> | <a href="">Add a new resource</a> |</strong>
<strong><a href="">Modify Enrollment</a> | <a href="">Modify resources</a></strong>
{{/if}}
